.bootstrap-plus-breakpoints {
	$breakpoint-sm: map-get($grid-breakpoints, 'sm');
	$breakpoint-md: map-get($grid-breakpoints, 'md');
	$breakpoint-lg: map-get($grid-breakpoints, 'lg');
	$breakpoint-xl: map-get($grid-breakpoints, 'xl');
	$breakpoint-xxl: map-get($grid-breakpoints, 'xxl');
	content: 'sm:#{$breakpoint-sm};md:#{$breakpoint-md};lg:#{$breakpoint-lg};xl:#{$breakpoint-xl};xxl:#{$breakpoint-xxl}';
}